.footer {
  padding-top: 22px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 16px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: $blue;
  color: $white;
}
